:root {
  --layout__rhythm: 20px;
  --color__text: #444;
  --color__text--invert: #fefefe;
  --color__bg: #fefefe;
  --color__ui: #ebf5f8;
  --color__accent--blue: #48a9c6;
  --color__accent--green: #56c298;
  --color__accent--yellow: #ffc53f;
}

html,
body,
#__next {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 100%;
}

.wrapper {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.layout {
  color: var(--color__text);
  background-color: var(--color__bg);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout.-fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout__wave {
  position: fixed;
  min-width: 100vw;
}

.layout__wave.-up {
  top: 0;
}

.layout__wave.-down {
  bottom: 0;
}

.header {
  min-height: 100px;
  background-color: var(--color__ui);
  text-align: center;
}

.header__logo {
  width: 65px;
  height: 65px;
  margin: var(--layout__rhythm);
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.title.-center {
  text-align: center;
}

.logo__title {
  font-size: 1.85rem;
  font-weight: 600;
  color: var(--color__accent--blue);
  padding: calc(var(--layout__rhythm) / 2) 0 var(--layout__rhythm) 0;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color__ui);
}

.link {
  display: block;
  height: 100%;
}

.link.-no-ul {
  font-weight: 600;
  text-decoration: none;
}

[data-reach-tab-list],
[data-reach-tab] {
  background-color: var(--color__ui);
  color: var(--color__accent--blue);
}

[data-reach-tab-list] {
  display: flex;
}

[data-reach-tab] {
  width: 50%;
  padding: calc(var(--layout__rhythm) / 2);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav__link {
  padding: var(--layout__rhythm);
}

.nav__icon {
  color: var(--color__accent--blue);
  height: 28px;
  width: 28px;
}

.nav__icon svg {
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color__text);
  padding: calc(var(--layout__rhythm) / 4);
}

.input.-floating {
  border: none;
}

.input.-invert {
  color: var(--color__text--invert);
}

.input.-center {
  text-align: center;
}

a.button,
.button {
  cursor: pointer;
  color: var(--color__text--invert);
  text-decoration: none;
  background-color: var(--color__accent--blue);
  padding: calc(var(--layout__rhythm) / 2) var(--layout__rhythm);
  margin: var(--layout__rhythm) 0;
  border: none;
  border-radius: 4px;
}

.button.-full {
  text-align: center;
  display: block;
  width: 100%;
}

.button.-floating {
  border: none;
  padding: var(--layout__rhythm);
  background-color: transparent;
  margin: 0;
}

.note-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.note-grid__cell {
  height: 150px;
  border-radius: 0;
}

.note {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--layout__rhythm);
  border: 1px solid currentColor;
}

.note.-full {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  height: 300px;
  margin: var(--layout__rhythm) auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 5px;
}

.note.-blue {
  background-color: var(--color__accent--blue);
  border-color: var(--color__accent--blue);
}

.note.-green {
  background-color: var(--color__accent--green);
  border-color: var(--color__accent--green);
}

.note.-yellow {
  background-color: var(--color__accent--yellow);
  border-color: var(--color__accent--yellow);
}

.note.-fill {
  color: var(--color__text--invert);
  border-color: var(--color__ui);
}

.note.-full.-fill {
  border: none;
}

.note.-border {
  background-color: var(--color__bg);
}

.note.-hand {
  font-family: cursive;
}

.note.-mono {
  font-family: 'Courier New', Courier, monospace;
}

.note__actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
}

.note__input {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note__bookmark {
  position: absolute;
  top: var(--layout__rhythm);
  right: var(--layout__rhythm);
}

.icon {
  overflow: visible;
}

.icon.-blue {
  color: var(--color__accent--blue);
}

.icon.-green {
  color: var(--color__accent--green);
}

.icon.-yellow {
  color: var(--color__accent--yellow);
}

.icon.-fill {
  color: var(--color__bg);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.tag {
  font-size: 0.85rem;
  cursor: pointer;
  padding: calc(var(--layout__rhythm) / 2) var(--layout__rhythm);
  margin: calc(var(--layout__rhythm) / 4);
  background-color: var(--color__ui);
  color: var(--color__accent--blue);
  border-radius: 4px;
}

.profile__title {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--color__accent--blue);
}
