:root {
  --layout__rhythm: 20px;
  --color__text: #444;
  --color__text--invert: #fefefe;
  --color__bg: #fefefe;
  --color__ui: #ebf5f8;
  --color__accent--blue: #48a9c6;
  --color__accent--green: #56c298;
  --color__accent--yellow: #ffc53f;
}

html,
body,
#__next {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 500px;
}

.flip {
  display: inline-block;
  transform: scaleX(-1);
}

.wrapper {
  width: 75%;
  max-width: 600px;
  margin: 0 auto var(--layout__rhythm) auto;
}

.wrapper.-no-pad {
  width: auto;
}

.fill {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color__bg);
  z-index: 2;
  overflow-x: hidden;
  padding: 0 var(--layout__rhythm);
}

.offscreen {
  height: 0%;
  transform: translateY(100vh);
  transition: transform 0.4s ease-in-out 0.1s, height 0.2s ease-in-out;
}

.offscreen.-show {
  height: 100%;
  transform: translateY(0vh);
}

.modal__bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  padding: calc(var(--layout__rhythm) * 2) 0;
}

.modal {
  border-radius: 4px;
  width: 75%;
  max-width: 600px;
  min-height: calc(300px + (var(--layout__rhythm) * 4));
  max-height: calc(100% - (var(--layout__rhythm) * 2));
  margin: 0 auto;
  overflow-y: scroll;
  background-color: var(--color__bg);
}

.error {
  color: #f54962;
}

.info {
  border-radius: 4px;
  background-color: var(--color__ui);
  padding: var(--layout__rhythm);
  margin: calc(var(--layout__rhythm) * 3) auto;
}

.info__text {
  margin: calc(var(--layout__rhythm) / 2) 0;
}

.layout {
  color: var(--color__text);
  background-color: var(--color__bg);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.layout.-fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color__ui);
}
.layout.-fill * {
  z-index: 3;
}

.bg {
  background-color: var(--color__accent--blue);
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
}

.bg.-up {
  top: 0;
  transform: translateY(-98%);
}

.bg.-down {
  bottom: 0;
  transform: translateY(98%);
}

.wave__content {
  opacity: 1;
  transition: opacity 0.4s ease-in;
  width: 75%;
}

.wave__content.-closed {
  opacity: 0;
}

.wave {
  --layout__wave-height: 90px;
  position: fixed;
  transition: transform 0.6s ease-in-out;
  transform: translateY(0);
}

.wave.-up {
  top: 0;
}

.wave.-up.-closed {
  transform: translateY(calc(50vh - var(--layout__wave-height)));
}

.wave.-down {
  bottom: 0;
}

.wave.-down.-closed {
  transform: translateY(calc(-50vh + var(--layout__wave-height)));
}

.header {
  min-height: 100px;
  background-color: var(--color__ui);
  text-align: center;
}

.header__logo {
  width: 65px;
  height: 65px;
  margin: var(--layout__rhythm);
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: var(--layout__rhythm) 0;
}

.title.-small {
  font-size: 1.15rem;
}

.title.-center {
  text-align: center;
}

.logo {
  width: 75px;
  height: 75px;
  margin: calc(var(--layout__rhythm) * 2) 0 calc(var(--layout__rhythm) / 2);
}

.logo__title {
  font-size: 1.85rem;
  font-weight: 600;
  color: var(--color__accent--blue);
  padding: calc(var(--layout__rhythm) / 2) 0;
}

.avatar-select__actions {
  width: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.avatar-select__action {
  margin: 0;
  padding: calc(var(--layout__rhythm) / 2) var(--layout__rhythm);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--color__text);
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 1px solid var(--color__accent--blue);
  margin: calc(var(--layout__rhythm) * 2) auto calc(var(--layout__rhythm) / 6)
    auto;
}

.avatar.-small {
  margin: calc(var(--layout__rhythm) / 4) calc(var(--layout__rhythm) / 2);
  width: 60px;
  height: 60px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color__ui);
}

.link {
  height: 100%;
  white-space: nowrap;
}

.link.-no-ul {
  font-weight: 600;
  text-decoration: none;
}

[data-reach-tab-list],
[data-reach-tab] {
  background-color: var(--color__ui);
  color: var(--color__accent--blue);
}

[data-reach-tab-list] {
  display: flex;
}

[data-reach-tab] {
  width: 50%;
  padding: calc(var(--layout__rhythm) / 2);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav__link {
  padding: var(--layout__rhythm);
}

.nav__icon {
  color: var(--color__accent--blue);
  height: 28px;
  width: 28px;
}

.nav__icon svg {
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color__text);
  padding: calc(var(--layout__rhythm) / 3);
  margin: calc(var(--layout__rhythm) / 4) 0;
}

.input.-floating {
  border: none;
}

.input.-invert {
  color: var(--color__text--invert);
}

.input.-center {
  text-align: center;
}

a.button,
.button {
  cursor: pointer;
  color: var(--color__text--invert);
  text-decoration: none;
  background-color: var(--color__accent--blue);
  padding: calc(var(--layout__rhythm) / 2) var(--layout__rhythm);
  margin: var(--layout__rhythm) 0;
  border: none;
  border-radius: 4px;
}

a.button.-full,
.button.-full {
  text-align: center;
  display: block;
  width: 100%;
}

a.button.-secondary,
.button.-secondary {
  background-color: var(--color__ui);
  color: var(--color__accent--blue);
}

a.button.-floating,
.button.-floating {
  border: none;
  padding: var(--layout__rhythm);
  background-color: transparent;
  margin: 0;
}

a.button:disabled,
.button:disabled {
  cursor: not-allowed;
  background-color: var(--color__ui);
}

.note-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.note-grid__cell {
  height: 150px;
  border-radius: 0;
}

.note {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--layout__rhythm);
  border: 1px solid currentColor;
}

.note.-full {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  height: 300px;
  margin: calc(var(--layout__rhythm) * 2) auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 5px;
}

.note.-blue {
  background-color: var(--color__accent--blue);
  border-color: var(--color__accent--blue);
}

.note.-green {
  background-color: var(--color__accent--green);
  border-color: var(--color__accent--green);
}

.note.-yellow {
  background-color: var(--color__accent--yellow);
  border-color: var(--color__accent--yellow);
}

.note.-fill {
  color: var(--color__text--invert);
  border-color: var(--color__ui);
}

.note.-full.-fill {
  border: none;
}

.note.-border {
  background-color: var(--color__bg);
}

.note.-hand {
  font-family: cursive;
}

.note.-mono {
  font-family: 'Courier New', Courier, monospace;
}

.note__actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
}

.note__input {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--layout__rhythm) / 1.5) 0;
}

.note__bookmark {
  position: absolute;
  top: var(--layout__rhythm);
  right: var(--layout__rhythm);
}

.reply {
  display: flex;
  align-items: center;
  padding: calc(var(--layout__rhythm) / 2) 0;
}

.reply__text {
  padding: 0 calc(var(--layout__rhythm) / 2);
}

.icon {
  overflow: visible;
}

.icon.-blue {
  color: var(--color__accent--blue);
}

.icon.-green {
  color: var(--color__accent--green);
}

.icon.-yellow {
  color: var(--color__accent--yellow);
}

.icon.-fill {
  color: var(--color__bg);
}

ul.tags,
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--layout__rhythm) 0;
}

.tag {
  font-size: 0.85rem;
  cursor: pointer;
  padding: calc(var(--layout__rhythm) / 2) var(--layout__rhythm);
  margin: calc(var(--layout__rhythm) / 4) calc(var(--layout__rhythm) / 2);
  background-color: var(--color__ui);
  color: var(--color__accent--blue);
  border-radius: 4px;
}

.profile__title {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--color__accent--blue);
  margin: 0 var(--layout__rhythm) calc(var(--layout__rhythm) * 1.5)
    var(--layout__rhythm);
}

.wave-pad {
  margin-bottom: 130px;
}

.wave-pad.-small {
  margin-bottom: 105px;
}

.footer-pad {
  margin-bottom: 120px;
}

.spinner {
  margin-top: calc(var(--layout__rhythm) * 6);
  height: 80px;
  display: flex;
  justify-content: center;
  transform: translateX(-40px);
  color: original;
}

.spinner.-full {
  position: absolute;
  top: calc(50vh - 100px);
  width: 100%;
}

.spinner div {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear infinite;
}

.spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background-color: var(--color__accent--blue);
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 370px) {
  .logo {
    width: 85px;
    height: 85px;
  }

  .profile__title {
    margin: var(--layout__rhythm) var(--layout__rhythm)
      calc(var(--layout__rhythm) * 1.5) var(--layout__rhythm);
  }
}

@media screen and (min-width: 500px) {
  .wave {
    display: none;
  }

  .wave__content {
    width: 400px;
  }
}
