# dependencies
node_modules/

# production
build/

# tests
tests/screenshots/

# debug
npm-debug.log*

# local env files
.env*
!.env.example

# next.js
.next/
out/

# firebase
.firebaserc

# misc
.DS_Store
